name: Release Self

on:
  push:
    branches:
      - release

jobs:
  release:
    uses: celo-org/reusable-workflows/.github/workflows/release.yaml@v3.1.0-rc.2
    with:
      environment: production
    permissions:
      contents: write
      issues: write
      pull-requests: write
